# HTID:12746335: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:12746335:

#ErrorDocument 400 /error/bad-request.html
#ErrorDocument 401 /error/unauthorised.html
#ErrorDocument 403 /error/forbidden.html
#ErrorDocument 404 /error/file-not-found.html
#ErrorDocument 500 /error/internal-server-error.html

Options +FollowSymLinks
Options -Indexes
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^https://questmode.000webhostapp.com/$ [NC]
RewriteRule ^/?$ /index.php [L,QSA]
RewriteRule ^q/(?!create)((?!(.*[._]){2,})[a-z][a-z0-9._]{0,100}[a-z0-9](?!\S))(?!.)*$ quizz/waiting.php?quizzID=$1 [L,QSA]
RewriteRule ^q/(create)*$ quizz/create.php [L,QSA]
RewriteRule ^(create)*$ quizz/create.php [L,QSA]
RewriteRule ^p/((?!(.*[._]){2,})[a-z][a-z0-9._]{0,100}[a-z0-9](?!\S))(?!.)*$ profile/profile.php?username=$1 [L,QSA]
RewriteRule ^t/(manage)*$ teacher/manage.php [L,QSA]
RewriteRule ^(manage)*$ teacher/manage.php [L,QSA]
RewriteRule ^(join)*$ join_quizz.php [L,QSA]
RewriteRule ^(login)*$ user_session/login.php [L,QSA]
RewriteRule ^(signup)*$ user_session/signup.php [L,QSA]
RewriteRule ^(user_session)/.*$ index.php [L,QSA]
RewriteRule ^(quizz)/.*$ join_quizz.php [L,QSA]
RewriteRule ^.*$ / [L,QSA]
